

<div class="stolen-frosty span6 offset3 text-center"> 
	<h1>Hey Mom</h1>
	<br/>
	<h2>I'm on the Internet!</h2>
	<br/> <br/>
	<%= link_to 'launch', '#', :class => 'btn btn-warning btn-large' %>
</div>