
	<% @pics.each do |pic| %>
		<div class='pic-frosty span 3 text-center'>
			
			<h1> 
				Lesson: <%= pic.lesson %> 
			</h1>

			<%= image_tag pic.image %>

			<h2>
				Emotion: <%= pic.emotion %>
			</h2>

			<h2>
				Learned: <%= pic.learned %>
			</h2>
		</div>

	<% end %>


